.lblFieldPair .lbl {
    text-align: left !important;
    width: 70px !important;
}
.lblFieldPair .input {
    margin-left: 70px !important;
}

.two_third {
    margin-left: 25px !important;
    width: 58% !important;
}
.globalselect {
    float: left;
    left: -145px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: -1px;
    width: 140px;
	
}
.hcls{

font-size:13px;
font-weight:bold;
color:#90969A;
margin-top:10px;
margin-bottom:10px;
padding-bottom:5px;
}

.fxSize{
padding-right:0px;
}

.ie7 .fxSize{
padding-right:10px;
}